* {
	padding: 0;
	margin: 0
}
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 13px;
}
img {
	border: 0px;
}
a {
	outline: none;
	color: #0066ff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #0066ff;
}
a:visited {
	color: #0066ff;
}
#main {
	
}
