
@color1: black;

.gradient (@topColor: black, @botColor: white, @scale: 50%) {
  background: @botColor;
  background: -moz-linear-gradient(top, @topColor 0%, @botColor @scale);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topColor), color-stop(@scale,@botColor));
  background: -webkit-linear-gradient(top, @topColor 0%,@botColor @scale);
  background: -o-linear-gradient(top, @topColor 0%,@botColor @scale);
  background: -ms-linear-gradient(top, @topColor 0%,@botColor @scale);
  background: linear-gradient(top, @topColor 0%,@botColor @scale); 
}

.transition (@transitions) {
	-webkit-transition: @transitions;
	-moz-transition: @transitions;
	-ms-transition: @transitions;
	-o-transition: @transitions;
	transition: @transitions;
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

body {
    background: url(/img/eggshell.jpg);
}

.container {
    width: 800px;
}

.hero-unit {
	margin-top: 60px;
	img {
		float: left;
		padding-right: 20px;
	}
}

h1 .title {
	padding: 40px 0 0 20px;
	font-size: 50px;
}


#stripe {
    margin-top: 100px;
    background: url(/img/banner-bg.png) repeat-x;
    height: 323px;
    position: relative;

    .machine {
        position: absolute;
        right: 100px;
    }

    h1 {
        font-size: 70px;
        width: 500px;
        line-height: 1em;
        position: absolute;
        left: 100px;
    }
}

#cost {
	text-align: center;
	margin: 40px 0 40px 0;
	font-size: 40px;
  table {
  	margin: 0 auto;
  	margin-top: 30px;
  	font-size: 40px;
  	width: 500px;
  	td, th {padding: 20px}
  }
}



// Add button
a.addButton {
    font-size: 50px;
    margin: 30px;
    margin-left: 0px auto;
    margin-bottom: 100px;
    display: block;
}


// Icons
.details {

    position: relative;

    ul.controls {

        position: absolute;
        top: 0;
        left: -120px;
        width: 64px;

        li {
            list-style: none;
            position: relative;
            margin-bottom: 16px;
        
            a {
                display: block;
                width: 64px;
                height: 84px;
            }

            .iconLabel {
                position: absolute;
                bottom: 0px;
                text-align: center;
                width: 64px;
            }

            &.active {
                background-color: #006CCC;
            }

            &.active a {
                color: #FFF;
            }
        }

        .map a {
            background: url(/img/map.png) transparent no-repeat;
        }

        .list a {
            background: url(/img/list.png) transparent no-repeat;
        }
    }

    #list {
        margin-top: 50px;

    }
}


// Animation
.animateLoad {
    opacity: 0;
    transform: translate(-800px,0px);
    -webkit-transform: translate(-800px,0px);
    .transition(500ms all ease);
}

.animateLoad.fromBottom {
    transform: translate(0px,600px);
    -webkit-transform: translate(0px,600px);
}

.animateLoad.loaded {
    opacity: 1;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
}


// TEMPLATES
#templates {
    display: none;
}


#mapInterface {
	width: 800px;
	height: 600px;
}

