
@color1: black;

.gradient (@topColor: black, @botColor: white, @scale: 50%) {
  background: @botColor;
  background: -moz-linear-gradient(top, @topColor 0%, @botColor @scale);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topColor), color-stop(@scale,@botColor));
  background: -webkit-linear-gradient(top, @topColor 0%,@botColor @scale);
  background: -o-linear-gradient(top, @topColor 0%,@botColor @scale);
  background: -ms-linear-gradient(top, @topColor 0%,@botColor @scale);
  background: linear-gradient(top, @topColor 0%,@botColor @scale); 
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.container {
    width: 800px;
}

.hero-unit {
	margin-top: 60px;
	img {
		float: left;
		padding-right: 20px;
	}
}

h1 .title {
	padding: 40px 0 0 20px;
	font-size: 50px;
}

#cost {
	text-align: center;
	margin: 40px 0 40px 0;
	font-size: 40px;
  table {
  	margin: 0 auto;
  	margin-top: 30px;
  	font-size: 40px;
  	width: 500px;
  	td, th {padding: 20px}
  }
}



// Add button
a.addButton {
    font-size: 50px;
    margin: 30px;
    margin-left: 0px auto;
    margin-bottom: 100px;
    display: block;
}


// Icons
.details {

    position: relative;

    ul.controls {

        position: absolute;
        top: 0;
        left: -100px;
        width: 64px;

        li {
            list-style: none;
        
            a {
                display: block;
                width: 64px;
                height: 84px;
                text-align: center;
                vertical-align: bottom;
            }
        }

        .map a {
            background: url(/img/map.png) transparent no-repeat;
        }

        .list {

        }
    }
}

// TEMPLATES
#templates {
    display: none;
}


#mapInterface {
	width: 800px;
	height: 600px;
}

// COMPARE
.compare {
  display: block;
  .comprow {
    display: block;
    height: 150px;
    width: 800px;
    .col {
      background: rgb(200, 220, 240);
      padding: 15px;
      margin: 0 20px 0 0;
      float: left;
      width: 222px;
      h1 {height: 75px;}
      p {
        padding: 15px 0 15px 0;
        font-size: 30px;
      }
    }
  }
  .info {
    padding-top: 40px;
    display: block;
    width: 800px;
    .entry {
      width: 800px;
      display: block;
      height: 35px;
      span {
        float: left;
        font-weight: bold;
        line-height: 30px;
        font-size: 20px;
        width: 120px;
      }
      p {
        float: left;
        width: 680px;
        font-size: 20px;
        line-height: 30px;
        border-bottom: 1px rgb(230,230,230) solid;
      }
    }
  }
}

