
#main {
	background: #71c4ed; /* Old browsers */
	background: -moz-linear-gradient(top, #71c4ed 0%, #ffffff 29%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71c4ed), color-stop(29%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #71c4ed 0%,#ffffff 29%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #71c4ed 0%,#ffffff 29%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #71c4ed 0%,#ffffff 29%); /* IE10+ */
	background: linear-gradient(top, #71c4ed 0%,#ffffff 29%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71c4ed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	width: 100%;
}

.hero-unit {
	margin-top: 60px;
}

h1 .title {
	padding: 40px 0 0 20px;
	font-size: 50px;
}

#cost {
	text-align: center;
	margin: 50px 0 0;
	font-size: 40px;
}

#cost table {
	margin: 0 auto;
	margin-top: 30px;
	font-size: 40px;
	width: 500px;
}
#cost table td {padding: 20px}

.cost-header {font-weight: bold}

.map {
	
	margin-top: 30px;
	margin-bottom:50px;
}
#mapInterface {
	margin: 0 auto;
	
	width: 650px;
	height: 600px;
}

